body {
    background-color: darkgreen;
}


.wrappergrid {
    position: fixed;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    border-style: groove;
    
}
.parentgrid {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    height: 300vh;
    width: 500vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: darkseagreen;
    position fixed;
    border-style: groove;
    position: relative;

}


.childgrid {
    background-color: beige;
    border-style: groove;
    position: relative;
    transition: all 2s;
    z-index: 0;


}







    
.G1:focus {
    background-color: aliceblue;
    transform: translate(0%, 0%);


}

.G2:focus {
    background-color: aliceblue;
    transform: translate(-100%, 0%);


}

.G3:focus {
    background-color: aliceblue;
    transform: translate(-200%, 0%);


}

.G4:focus {
    background-color: aliceblue;
    transform: translate(0%, -100%);


}

.G5:focus {
    background-color: aliceblue;
    transform: translate(-100%, -100%);


}

.G6:focus {
    background-color: aliceblue;
    transform: translate(-200%, -100%);


}

.G7:focus {
    background-color: aliceblue;
    transform: translate(0, -200%);


}

.G8:focus {
    background-color: aliceblue;
    transform: translate(-100%, -200%);


}

.G9:focus {
    background-color: aliceblue;
    transform: translate(-200%, -200%);


}

.G10:focus {
    background-color: aliceblue;
    transform: translate(0, -300%);


}


.G11:focus {
    background-color: aliceblue;
    transform: translate(-100%, -300%);


}


.G12:focus {
    background-color: aliceblue;
    transform: translate(-200%, -300%);


}
}