.testclass {
  ;
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
  line-height: 1.4em;
  background-image: url("beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
